<!DOCTYPE html>
<html>
	<head>
		<title>New Product</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="/products">Products</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/new_product">New Product</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/select-customer">Select Customer</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/select-order">Select Order</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/order-details">Order Details</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/all-orders">All Orders</a>
	      </li>
	   </ul>
	</div>
</nav>
		<div class ="container mt-4">
			<h2>Add a new product</h2>
			<form id="addProductForm">
				<div class="form-group">
					<lable for="productName">Product Name</lable>
					<input type="text" class="form-control" id="productName" required>
				</div>
				<div class="form-group">
					<lable for="description">Description</lable>
					<input type="text" class="form-control" id="description" required>
				</div>
				<div class="form-group">
					<lable for="price">Price</lable>
					<input type="number" class="form-control" id="price" required>
				</div>
				<div class="form-group">
					<lable for="category">Category</lable>
					<input type="text" class="form-control" id="category" required>
				</div>
				<button type="submit" class="btn btn-primary">Create New Product</button>
			</form>
			<div id="successMessage" class="alert alert-success" style="display: none;">
				Product added!
			</div>
		</div>
		<script>
			document.getElementById('addProductForm').addEventListener('submit', function(event) {
				event.preventDefault();
				const formData = {
					productName: this.productName.value,
					description: this.description.value,
					price: this.price.value,
					category: this.category.value
				};
				fetch('api/products',{
					method: 'POST',
					headers:{
						'Content-Type': 'application/json',
                	},
                	body: JSON.stringify(formData)
				})
				.then(response => response.json())
				.then(data => {					
					const successMessage = document.getElementById('successMessage');
        			successMessage.style.display = 'block';

			        setTimeout(() => {
			            successMessage.style.display = 'none';
			        }, 3000);
			        this.reset();
				})
				.catch((error) => {
                console.error('Error has occured:', error);
            });
            
			});
		</script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>